<!DOCTYPE html>
<html>
  <head>
    <title>Site</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :js_pack_tag %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--    custom_js_pack_tag below if loaded  -->
    <%#= yield(:custom_js_pack_tag) %>
    <!--    Else only footer-injected tags  -->
    <%#= javascript_pack_tag 'whiskeys' %>
  </head>

  <body>
      <%= yield %>
  </body>
</html>
